mat-form-field,
textarea { width: 100%; }
mat-spinner { margin: auto; }
.image-btn { margin: 10px 0; text-align: right; }
.image-btn > input { display: none; }
.image-preview { height: 100px; position: relative; top: -50px; }
.image-preview > img { height: 100%; }